@import "webstyle";

$clr: #428bca;


%comman{
  text-align: center;
  color: $clr;
}

 .div1{

   @extend %comman;
 }
 .cls1{
   @extend %comman;
 }

 .head2 {

   text-align: center;
   color: $clr;
     padding:35px;
    margin-top: 35px;

    }
  .div1 {
    width: 80%;
    margin: auto;

    position: relative;
    text-align: center;
  }
  .div1> p{
    line-height:1.5;
    margin: 40px 0 20px 0;
  }

  .cls2 {
      padding: 4%;
        @extend %comman;
         margin-top: 20px;
         margin: 4%;
         border-radius: 1%;
        background-color: #f9f9f9;
         box-shadow: 10px 10px 10px #c2c0c0;

  }
